@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 150, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: 'Geomanist';
  src: url('/fonts/Geomanist-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist';
  src: url('/fonts/Geomanist-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('/fonts/NunitoSans.ttf') format('truetype');
}

.swiper-slide:not(.swiper-slide-active) {
  opacity: 75%;
  transition: all 1.5 ease-in-out;
  cursor: pointer;
}

.swiper-slide:not(.swiper-slide-active):hover > * {
  background: linear-gradient(
    to bottom left,
    theme('colors.deepPurple'),
    theme('colors.orange'),
    theme('colors.lightPurple')
  );
}

.swiper-slide:not(.swiper-slide-active) > * {
  transform: scale(0.9);
  pointer-events: none;
}

@variants hover {
  .fill-gmail path:nth-child(1) {
    fill: #4285f4;
  }
  .fill-gmail path:nth-child(2) {
    fill: #ea4335;
  }
  .fill-gmail path:nth-child(3) {
    fill: #34a853;
  }
  .fill-gmail path:nth-child(4) {
    fill: #c5221f;
  }
  .fill-gmail path:nth-child(5) {
    fill: #fbbc04;
  }
}
